* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    body {
    min-height: 100vh;

    }
    



    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.square{

    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 8px;

    font-weight: 50;

   


    

}

header{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 100vh;



    



}


.rectangle-pattern 
{
    background-color: #370617;
    display:flex;
    justify-content: center;
     width: 600px;
     height:400px;

    

 }

 .rectangle-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    width: 450px;

    gap:10px;
    
    
 }
 .rectangle-grid > div {
    width: calc(50% - 10px); /* Tre kolumner */
    height: 100px; /* Anpassa efter behov */
}




 .row1_box {
    background-color: #F48C06;
    flex-grow: 1;
    display: flex; 
    align-items: center;
    

    gap: 2px;
    border-radius: 4px;
}

.row2_box {
    background-color: #F48C06;
    flex-grow: 1;

    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 4px;
}


.row3_box {
    background-color: #F48C06;

    display: flex;
    
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    border-radius: 4px;
}

.row4_box {
    background-color: #F48C06;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    border-radius: 4px;
    gap: 2px;
}

.row5_box {
    background-color: #F48C06;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    gap: 16px;
}

.row6_box {
    background-color: #F48C06;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
   
    
}



















/* Small box */
.box1 {
    display: flex;
    
    
    background-color: #9D0208;
    width: 40px;
    height: 40px;
    border-radius: 2px; 
}


.box2 {
    display: flex;

    background-color: #9D0208;
    width: 40px;
    height: 60px;
    border-radius: 2px;    

}


.box3 {
    display: flex;
    
    background-color: #9D0208;
    width: 40px;
    height: 40px;
    border-radius: 2px; 
   
}

.box4_1{
    display: flex;
    background-color: #9D0208;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    
    
    

    
    
}


.box4_2{
    display: flex;
    background-color: #9D0208;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    
}



.box4_2{
        display: flex;
        background-color: #9D0208;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        
       
       
    }
    
    
.box5_1{
    display: flex;
    background-color: #9D0208;
    width: 40px;
    height: 70px;
    border-radius: 2px;
    

    }


.box5_2{
    display: flex;
    background-color: #9D0208;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    
    
        
    }

.box5_3{
    display: flex;
    background-color: #9D0208;
    width: 40px;
    height: 70px;
    border-radius: 2px;
    
            
}


.box6_1{
    display: flex;
    background-color: #9D0208;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    

    }


.box6_2{
    display: flex;
    background-color: #9D0208;
    width: 90px;
    height: 40px;
    border-radius: 2px;
    
        
    }

.box6_3{
    display: flex;
    background-color: #9D0208;
    width: 40px;
    height: 40px;
    border-radius: 2px;
            
}


h6{
    display: flex;
    color: white;
    align-items: center;
    font-size: 10px;
    margin-left: 6px;
    
}




/* circkle */



    
.circle-pattern
{
    background-color: orange;
    display:flex;

    width: 600px;

    height:400px;

    

 }

 .circkle_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
    align-items: center;
    width: 400px;
    
    

    
    
    gap: 10px;
  
 }


 .rectangle1{
    background-color: #03071E;
    display:flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    border:2px solid black;
    
    gap: 5px;


    width: 100px;
    height:100px;



 }

.row{
    display: flex;
    gap: 5px;
}

.circle{
    background-color: #748cab;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    

}

 .rectangle2{
    background-color: #6A040f;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    border:2px solid black;

   justify-content: center;
   justify-items: flex-end;


    width: 100px;
    height: 100px;
 }


.row1{
    display: flex;
    gap: 5px;
}

.circle1{
    background-color: #748cab;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    

}





 .rectangle3{
    background-color: #03071E;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    
    gap: 45px;

    width: 100px;
    height: 100px;

 }

 .row2{
    display: flex;
    gap: 6px;
}

.circle2{
    background-color: #748cab;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    

}

 .rectangle4{
    background-color: #6A040f;

    display:flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    

    width: 100px;
    height:100px;
 }

 .row3{
    display: flex;
    gap: 10px;
}

.circle3{
    background-color: #748cab;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    

}
















.rectangle5 {
    background-color: #03071E;
    
    display: flex; 
    flex-direction: column;
    justify-content: center; 

    width: 100px;
    height: 100px;
}


.row4{
    display: flex;
    gap: 10px;
}

.circle4{
    background-color: #748cab;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    

}


















 
















